<!DOCTYPE html>
<html ng-app="todoApp">
    <!--ng-app tells AngularJS to be active in this portion of the page. in this case the entire document-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AngularJS Tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="todo.css" />
    <!--Load AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <!--The behaviour is in javascrpt controller-->
    <script src="todo.js"></script>
</head>
<body>
    <h2>Todo</h2>
    <div ng-controller="TodoListController as todoList">
        <!--The behaviour of content under this element will be managed using the TodoListController class defined as todo.js-->
        <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
        <!--Instead of registering event-handlers, you declare which method on the controller to call. Here clicking the link will call archive() method-->
        [<a href="" ng-click="todolist.archive()">archive</a>]
        <ul class="unstyled">
            <!--Use ng-repeat to unroll a collection. Here for every object in todos, AngularJS will create new copy of the <li> element.When objects are added to the todos collection
                the ng-repeat automatically adds new <li> element into the DOM. Similarly when objects are removed from todos then the corresponding <li> element is removed as well.-->
            <li ng-repeat= "todo in todoList.todos">
                <label class="checkbox">
                    <!--ng-model links the form and the model. This means that changes to the control update the data in your model, and when you change the model it updates the control
                        AngularJS automatically copies the state of thecheckbox into todo.done. Conversely, if you update todo.done you will see the checkbox respond accordingly "-->
                    <input type="checkbox" ng-model="todo.done">
                    <!--To sho the strikethrough for completed tasks we have created a CSSclass done-true. When the todo.done is true the resulting CSS selector is done-true which applies the 
                    strikethrough-->
                    <span class= "done-{{todo.done}}">{{todo.text}}</span>
                </label>

            </li>
        </ul>
        <!--ng-submit intercepts form submission and instead calls addTodo(). Inside this method we read the todoText property and insert it into the todos collection-->
        <form ng-submit="todoList.addTodo()">
            Test {{todoList.todoText}}
            <input type="text" ng-model="todoList.todoText" size= "30"
                placeholder ="add new todo here">
                <input class ="btn-primary" type="submit" value="add">
        </form>
    </div>
    
</body>
</html>